<div th:fragment="sidebar">
   <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
      <div class="offcanvas-header">
         <h5 class="offcanvas-title" id="sidebarMenuLabel">
			<!--<span th:text="${#authentication.principal.orgName}"></span>-->
		 </h5>
         <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
         <ul class="nav flex-column">
            <li class="nav-item">
               <a th:href="@{/dashboard}" class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
                  <svg class="bi">
                     <use xlink:href="#house-fill"/>
                  </svg>
                  <span th:text="#{menu.dashboard}"></span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link d-flex align-items-center gap-2" th:href="@{/product}">
                  <svg class="bi">
                     <use xlink:href="#file-earmark"/>
                  </svg>
                  <span th:text="#{menu.product}"></span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link d-flex align-items-center gap-2" th:href="@{/invoice}">
                  <svg class="bi">
                     <use xlink:href="#cart"/>
                  </svg>
                  <span th:text="#{menu.invoice}"></span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link d-flex align-items-center gap-2" th:href="@{/party}">
                  <svg class="bi">
                     <use xlink:href="#people"/>
                  </svg>
                  <span th:text="#{menu.party}"></span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link d-flex align-items-center gap-2" th:href="@{/bank}">
                  <svg class="bi">
                     <use xlink:href="#graph-up"/>
                  </svg>
                  <span th:text="#{menu.bank}"></span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link d-flex align-items-center gap-2" th:href="@{/bank}">
                  <svg class="bi">
                     <use xlink:href="#graph-up"/>
                  </svg>
                  <span th:text="#{menu.test}"></span>
               </a>
            </li>
         </ul>
         <hr class="my-3">
         <ul class="nav flex-column mb-auto">
            <li class="nav-item">
               <a class="nav-link d-flex align-items-center gap-2" th:href="@{/logout}">
                  <svg class="bi">
                     <use xlink:href="#door-closed"/>
                  </svg>
                  <span th:text="#{menu.signout}"></span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>